<div class="cart-container">
  <h2>Your Cart</h2>
  <div *ngIf="cart.length === 0">Your cart is empty.</div>

  <div *ngFor="let item of cart">
    <div class="cart-item">
      <img [src]="item.photo" alt="item photo" />
      <p>{{ item.description }} - {{ item.prix }} points</p>
    </div>
  </div>

  <div *ngIf="cart.length > 0">
    <p><strong>Total Price: {{ totalPrice }} points</strong></p>


    <button (click)="processPayment()">Pay with your points</button>


    <button (click)="clearCart()">Clear Cart</button>
  </div>


  <div *ngIf="successMessage" class="alert alert-success mt-3">
    {{ successMessage }}
  </div>
  <div *ngIf="errorMessage" class="alert alert-danger mt-3">
    {{ errorMessage }}
  </div>
</div>
